<?xml version="1.0"?>
<launch>
  <arg name="robot"     default="true" />
  <arg name="gui"       default="true" />
  <arg name="world"     default="v1_empty" />
  <arg name="gravity"   default="true" />
  <arg name="debug"     default="false" />

  <param name="/use_sim_time" value="true"/>

  <!-- load world -->
  <node name="gazebo" pkg="gazebo_ros" type="debug" args="$(find v1_gazebo)/worlds/$(arg world).world" output="screen" respawn="false" if="$(arg debug)"/>
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(find v1_gazebo)/worlds/$(arg world).world" output="screen" respawn="false" unless="$(arg debug)"/>

  <group if="$(arg gravity)">
    <param name="/gravity/x" value="0"/>
    <param name="/gravity/y" value="0"/>
    <param name="/gravity/z" value="0"/>
  </group>


  <!-- load robot -->
  <group if="$(arg robot)">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find v1_gazebo)/models/xacro/v1_gazebo.xacro'" />
    <node name="spawn_v1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model v1 -paused=true" respawn="false" output="screen" />
  </group>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find v1_gazebo)/config/v1_trajectory_controllers.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/v1" args="right_arm_controller left_arm_controller right_hand_controller left_hand_controller right_leg_controller left_leg_controller neck_controller waist_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- remap js -->
  <node name="js_remap" pkg="topic_tools" type="relay" respawn="true" output="screen" args="/v1/joint_states /joint_states"/>

  <!-- start gui -->
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" if="$(arg gui)"/>

  <!-- move robot to ready pose -->
  <node name="v1_ready_pose" pkg="v1_gazebo" type="ready_pose.py" respawn="false" output="screen"/>

</launch>


